.grid {
	display: grid !important;
	max-width: 510px;
	max-height: 460px;
	margin: 0;
	min-width: auto;
	overflow: auto;
}

.grid-template-1 {
	grid-template-areas: "a";
}

.grid-template-2 {
	grid-template-areas: "a a";
}

.grid-template-3 {
	grid-template-areas: "a a a";
}

.grid-template-4 {
	grid-template-areas: "a a a a";
}

.grid-template-5 {
	grid-template-areas: "a a a a a";
}

.grid-template-6 {
	grid-template-areas: "a a a a a a";
}

.grid-template-7 {
	grid-template-areas: "a a a a a a a";
}

.grid-template-8 {
	grid-template-areas: "a a a a a a a a";
}

.grid-template-9 {
	grid-template-areas: "a a a a a a a a a";
}

.grid-template-10 {
	grid-template-areas: "a a a a a a a a a a a";
}

.torrentEntry small {
	white-space: nowrap;
	overflow: visible;
}

.threeColumnRow {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.refreshIcon>img {
	height: 100%;
	width: 100%;
}

.refreshIcon {
	cursor: pointer;
	float: right;
	margin-top: -20px;
	height: 30px;
	width: 30px;
	transition: transform .3s;
}

.refreshIcon:hover {
	transform: rotate(90deg);
}

.refreshing {
	animation: rotate linear infinite 1s;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
