.grid {
	display: grid;
	grid-template-areas: "a a";
	max-height: 1000px;
	overflow-y: auto;
	overflow-x: hidden;
}

.grid>* {
	max-height: 60vh;
	overflow: auto;
}

.qualities {
	float: right;
}

.svgText {
	width: 100%;
}

.svgText>text {
	transform: translateY(100%);
}

.commenterAvatar {
	width: 100%;
}

.commentsContainer, .fileListContainer, .descriptionContainer {
	max-height: 200px;
	overflow-y: auto;
	margin-bottom: .5rem;
	overflow-x: hidden;
}

.commentBox:not(:last-child) {
	margin-bottom: 1rem;
}

.resultsTable td {
	padding-left: .5rem;
	padding-right: .5rem;
}

.resultsTable th {
	text-align: center;
	padding-left: 0;
	padding-right: 1rem;
	user-select: none;
}

.seed, .leech {
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	width: min-content;
}

.name {
	width: max-content;
}

.date {
	width: min-content;
}

.size {
	width: min-content;
}

.resultsTable th:after {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M50 0L20 40L80 40ZM20 60L50 100L80 60Z' /%3E%3C/svg%3E");
	width: .875rem;
	position: absolute;
}

.ascending:after {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M50 0L20 40L80 40Z' /%3E%3C/svg%3E") !important;
	filter: contrast(.3);
}

.descending:after {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M20 60L50 100L80 60Z' /%3E%3C/svg%3E") !important;
	filter: contrast(.3);
}
