/* width */

::-webkit-scrollbar {
	width: .7vw;
	background: rgb(35, 35, 35);
}

/* Track */

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px #999;
	border-radius: 3px;
}

/* Handle */

::-webkit-scrollbar-thumb {
	background: #bbb;
	border-radius: 3px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
	background: #777;
}

button:focus {
	outline: none !important;
}

input.guydhtNoSpinner[type=number]::-webkit-inner-spin-button, input.guydhtNoSpinner[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

*:focus {
	outline: none;
}

.carousel-indicators {
	z-index: 7 !important;
}

.popover {
	max-width: 415px !important;
}
